<!DOCTYPE html>
<html>
    <head>
        <title>Persona 5 Royal Calendar Guide</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    </head>
    <body>
        <div class="main-content confidant-details">
            {{>header}}

            <div class="confidant-nav">
                <ul>
                {{#each confidants}}
                <li><a href="/confidants/{{@key}}">{{this}}</a> | </li>
                {{/each}}
            </ul>

            </div>

            <h2>{{confidantName}} - {{confidantArcana}}</h2>
            <div class="details">
               <p>{{{confidantLocation}}}</p>
               <p>{{{confidantNotes}}}</p>
            </div>
            <div class="ranks">
                <button class="collapsible">Rank 1</button>
                <div class="content">
                    <p>{{{confidantRanks.rankOne}}}</p>
                </div>
                
                <button class="collapsible">Rank 2</button>
                <div class="content">
                    <p>{{{confidantRanks.rankTwo}}}</p>
                </div>

                <button class="collapsible">Rank 3</button>
                <div class="content">
                    <p>{{{confidantRanks.rankThree}}}</p>
                </div>

                <button class="collapsible">Rank 4</button>
                <div class="content">
                    <p>{{{confidantRanks.rankFour}}}</p>
                </div>

                <button class="collapsible">Rank 5</button>
                <div class="content">
                    <p>{{{confidantRanks.rankFive}}}</p>
                </div>

                <button class="collapsible">Rank 6</button>
                <div class="content">
                    <p>{{{confidantRanks.rankSix}}}</p>
                </div>

                <button class="collapsible">Rank 7</button>
                <div class="content">
                    <p>{{{confidantRanks.rankSeven}}}</p>
                </div>

                {{#if confidantRanks.rankSevenAndHalf}}
                <button class="collapsible">Rank 7.5</button>
                <div class="content">
                    <p>{{{confidantRanks.rankSevenAndHalf}}}</p>
                </div>
                {{/if}}

                <button class="collapsible">Rank 8</button>
                <div class="content">
                    <p>{{{confidantRanks.rankEight}}}</p>
                </div>

                <button class="collapsible">Rank 9</button>
                <div class="content">
                    <p>{{{confidantRanks.rankNine}}}</p>
                </div>

                <button class="collapsible">Rank 10</button>
                <div class="content">
                    <p>{{{confidantRanks.rankTen}}}</p>
                </div>
            </div>

            {{>footer}}
        </div>

        <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
            content.style.maxHeight = null;
            } else {
            content.style.maxHeight = content.scrollHeight + "px";
            } 
        });
        }
        </script>
    </body>
</html>
