<!DOCTYPE html>
<html>
    <head>
        <title>Persona 5 Royal Calendar Guide</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div class="date-nav">
                {{#if prevDate}}
                <div class="pre-day day-nav"><a href="/day/{{prevDate}}">Previous Day</a></div>
                {{/if}}
                <div class="date"><h2>{{weekDay}}, {{date}}</h2></div>
                {{#if nextDate}}
                <div class="next-day day-nav"><a href="/day/{{nextDate}}">Next Day</a></div>
                {{/if}}
            </div>

            <hr>

            <div class="daytime day-period">
                <h3 class="day">{{dayType}} | {{dayWeather}}</h3>

                {{#if dayStats}}
                <div class="day-stats">
                    <h4>Social Stat Opportunities</h4>
                    <ul>
                        {{#each dayStats}}
                        <li>
                            {{this}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}

                {{#if dayQuestions}}
                <div class="day-questions">
                    <h4>Questions & Answers</h4>
                    <ul>
                        {{#each dayQuestions.[0]}}
                        <li> {{@key}} - <div class="answer">{{this}}</div> </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}

                {{#if dayConfidants}}
                <div class="day-confidants">
                    <h4>Confidants</h4>
                    <ul>
                        {{#each dayConfidants}}
                        <li>
                            <a href="/confidants/{{this.link}}">{{this.confidant}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}

                {{#if daySales}}
                <div class="day-sales">
                    <h4>Stores & Sales</h4>
                    <ul>
                        {{#each daySales}}
                        <li>
                            {{this}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
                
                {{#if dayMetaverse}}
                <div class="day-metaverse">
                    <h4>Metaverse</h4>
                    <p>Palace Available: {{dayMetaverse.palaceAvailable}}</p>
                    <p>Days Until Deadline: {{dayMetaverse.deadlineCountdown}}</p>
                </div>
                {{/if}}

                {{#if dayExtras}}
                <div class="day-extras">
                    <h4>Extras</h4>
                    <p>{{dayExtras}}</p>
                </div>
                {{/if}}
            </div>
            

            <div class="evening day-period">
                <h3>{{nightType}} | {{nightWeather}}</h3>

                 {{#if nightStats}}
                <div class="night-stats">
                    <h4>Social Stat Opportunities</h4>
                    <ul>
                        {{#each nightStats}}
                        <li>
                            {{this}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}

                {{#if nightQuestions}}
                <div class="night-questions">
                    <h4>Questions & Answers</h4>
                    <ul>
                        {{#each nightQuestions.[0]}}
                        <li> {{@key}} - <div class="answer">{{this}}</div> </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}

                {{#if nightConfidants}}
                <div class="night-confidants">
                    <h4>Confidants</h4>
                    <ul>
                        {{#each nightConfidants}}
                        <li>
                            <a href="/confidants/{{this.link}}">{{this.confidant}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
            </div>

            {{#if nightSales}}
                <div class="day-sales">
                    <h4>Stores & Sales</h4>
                    <ul>
                        {{#each nightSales}}
                        <li>
                            {{this}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}
            
            {{#if nightMetaverse}}
            <div class="night-metaverse">
                <h4>Metaverse</h4>
                <p>Palace Available: {{nightMetaverse.palaceAvailable}}</p>
                <p>Days Until Deadline: {{nightMetaverse.deadlineCountdown}}</p>
            </div>
            {{/if}}

            {{#if nightExtras}}
            <div class="night-extras">
                <h4>Extras</h4>
                <p>{{nightExtras}}</p>
            </div>
            {{/if}}

        {{>footer}}
        </div>
    </body>
</html>
