<!DOCTYPE html>
<html>
    <head>
        <title>Persona 5 Royal Calendar Guide</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div class="date-nav">
                {{#if prevDate}}
                <div class="prev-day day-nav"><a href="/day/{{prevDate}}"><span>Previous Day</span></a></div>
                {{/if}}
                <div class="date"><h2>{{weekDay}}, {{date}}</h2></div>
                {{#if nextDate}}
                <div class="next-day day-nav"><a href="/day/{{nextDate}}"><span>Next Day</span></a></div>
                {{/if}}
            </div>

            <hr>

            <div class="daytime day-period">
                <h3 class="day">{{dayType}} | {{dayWeather}}</h3>

                {{#if dayStats}}
                <div class="stats">
                    <h4>Social Stat Opportunities</h4>
                    <ul>
                        {{#each dayStats}}
                        <li>
                            {{this}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}

                {{#if dayQuestions}}
                <div class="questions">
                    <h4>Questions & Answers</h4>
                    <ul>
                        {{#each dayQuestions.[0]}}
                        <li> {{@key}} - <div class="answer">{{this}}</div> </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}

                {{#if dayConfidants}}
                <div class="confidants">
                    <h4>Confidants</h4>
                    <ul>
                        {{#each dayConfidants}}
                        <li>
                            <a href="/confidants/{{this.link}}">
                            <img src="/img/characters/{{this.link}}.png">
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}

                {{#if daySales}}
                <div class="sales">
                    <h4>Stores & Sales</h4>
                    <ul>
                        {{#each daySales}}
                        <li>
                            {{{this}}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
                
                {{#if dayMetaverse}}
                <div class="metaverse">
                    <h4>Metaverse</h4>
                    <p>Palace Available: {{dayMetaverse.palaceAvailable}}</p>
                    <p>Days Until Deadline: {{dayMetaverse.deadlineCountdown}}</p>
                </div>
                {{/if}}

                {{#if dayExtras}}
                <div class="extras">
                    <h4>Notes</h4>
                    <p>{{{dayExtras}}}</p>
                </div>
                {{/if}}
            </div>
            

            <div class="evening day-period">
                <h3>{{nightType}} | {{nightWeather}}</h3>

                 {{#if nightStats}}
                <div class="stats">
                    <h4>Social Stat Opportunities</h4>
                    <ul>
                        {{#each nightStats}}
                        <li>
                            {{this}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}

                {{#if nightQuestions}}
                <div class="questions">
                    <h4>Questions & Answers</h4>
                    <ul>
                        {{#each nightQuestions.[0]}}
                        <li> {{@key}} - <div class="answer">{{this}}</div> </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}

                {{#if nightConfidants}}
                <div class="confidants">
                    <h4>Confidants</h4>
                    <ul>
                        {{#each nightConfidants}}
                        <li>
                            <li>
                            <a href="/confidants/{{this.link}}">
                            <img src="/img/characters/{{this.link}}.png">
                            </a>
                        </li>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
            </div>

            {{#if nightSales}}
                <div class="day-sales">
                    <h4>Stores & Sales</h4>
                    <ul>
                        {{#each nightSales}}
                        <li>
                            {{{this}}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}
            
            {{#if nightMetaverse}}
            <div class="metaverse">
                <h4>Metaverse</h4>
                <p>Palace Available: {{nightMetaverse.palaceAvailable}}</p>
                <p>Days Until Deadline: {{nightMetaverse.deadlineCountdown}}</p>
            </div>
            {{/if}}

            {{#if nightExtras}}
            <div class="extras">
                <h4>Notes</h4>
                <p>{{{nightExtras}}}</p>
            </div>
            {{/if}}

        {{>footer}}
        </div>
    </body>
</html>
