<!DOCTYPE html>
<html>
    <head>
        <title>Persona 5 Royal Calendar Guide</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div class="date-nav">
                {{#if prevDate}}
                <div class="prev-day day-nav"><a href="/day/{{prevDate}}"><span>Previous Day</span></a></div>
                {{else}}
                <div class="prev-day day-nav"><a class="disabled"><span>Previous Day</span></a></div>
                {{/if}}
                <div class="date"><h2>{{weekDay}}, {{date}}</h2></div>
                {{#if nextDate}}
                <div class="next-day day-nav"><a href="/day/{{nextDate}}"><span>Next Day</span></a></div>
                {{else}}
                <div class="next-day day-nav"><a class="disabled"><span>Next Day</span></a></div>
                {{/if}}
            </div>

            <hr>

            <div class="daytime day-period">
                <h3 class="day">{{dayType}} | {{dayWeather}}</h3>
                <p class="sub">{{{dayExtras}}}</p>

                {{#if dayStats}}
                <div class="stats">
                    <h4>Social Stat Opportunities</h4>
                    <ul>
                        {{#each dayStats}}
                        <li>
                            {{this}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}

                {{#if dayQuestions}}
                <div class="questions">
                    <h4>Questions & Answers</h4>
                    <ul>
                        {{#each dayQuestions.[0]}}
                        <li> {{@key}} - <div class="answer">{{this}}</div> </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}

                {{#if dayConfidants}}
                <div class="confidants">
                    <h4>Confidants</h4>
                    <div class="confidants-container-day">
                        {{#each dayConfidants}}
                        <div class="confidants-item">
                            <a href="/confidants/{{this.link}}">
                                <img src="/img/characters/{{this.link}}.jpg">
                                <p>{{this.confidant}}</p>
                            </a>
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{/if}}

                {{#if daySales}}
                <div class="sales">
                    <h4>Stores & Sales</h4>
                    <ul>
                        {{#each daySales}}
                        <li>
                            {{{this}}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
                
                {{#if dayMetaverse}}
                <div class="metaverse">
                    <h4>Metaverse</h4>
                    {{#if dayMetaverse.notes}}<p>{{dayMetaverse.notes}}</p>{{/if}}
                    <ul>
                        {{#if dayMetaverse.palaceAvailable}}<li>Palace Available</li>{{/if}}
                        {{#if dayMetaverse.mementosAvailable}}<li>Mementos Available</li>{{/if}}
                    </ul>
                    
                    {{#if dayMetaverse.deadlineCountdown}}<p>Days Until Deadline: {{dayMetaverse.deadlineCountdown}}</p>{{/if}}
                </div>
                {{/if}}
            </div>
            

            <div class="evening day-period">
                <h3>{{nightType}} | {{nightWeather}}</h3>
                <p class="sub">{{{nightExtras}}}</p>

                 {{#if nightStats}}
                <div class="stats">
                    <h4>Social Stat Opportunities</h4>
                    <ul>
                        {{#each nightStats}}
                        <li>
                            {{this}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}

                {{#if nightQuestions}}
                <div class="questions">
                    <h4>Questions & Answers</h4>
                    <ul>
                        {{#each nightQuestions.[0]}}
                        <li> {{@key}} - <div class="answer">{{this}}</div> </li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}

                {{#if nightConfidants}}
                <div class="confidants">
                    <h4>Confidants</h4>
                    <div class="confidants-container-day">
                        {{#each nightConfidants}}
                        <div class="confidants-item">
                            <a href="/confidants/{{this.link}}">
                                <img src="/img/characters/{{this.link}}.jpg">
                                <p>{{this.confidant}}</p>
                            </a>
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{/if}}
            </div>

            {{#if nightSales}}
                <div class="day-sales">
                    <h4>Stores & Sales</h4>
                    <ul>
                        {{#each nightSales}}
                        <li>
                            {{{this}}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}
            
            {{#if nightMetaverse}}
            <div class="metaverse">
                <h4>Metaverse</h4>
                {{#if nightMetaverse.notes}}<p>{{nightMetaverse.notes}}</p>{{/if}}
                {{#if nightMetaverse.palaceAvailable}}<p>Palace Available: {{nightMetaverse.palaceAvailable}}</p>{{/if}}
                {{#if nightMetaverse.deadlineCountdown}}<p>Days Until Deadline: {{nightMetaverse.deadlineCountdown}}</p>{{/if}}
                {{#if nightMetaverse.mementosAvailable}}<p>Mementos Available: {{nightMetaverse.mementosAvailable}}</p>{{/if}}
            </div>
            {{/if}}

        {{>footer}}
        </div>
    </body>
</html>
